body {
    background-color: #efefef;
}
.main {
    background-color: white;
    margin: 60px;
}
.btn-publish {
    float: right;
    margin-bottom: 15px;
}
.media-object {
    width: 65px;
    height: 65px;
}
.text-desc {
    font-size: 12px;
    font-weight: normal;
    color: #999;
}
.profile .section {
    margin-top: 20px;
}
.rain-menu {
    display: block;
    color: #999;
    font-size: 13px;
    margin-bottom: 15px;
}
.media-body {
    padding-top: 10px;
}

.question-tag {
    margin-right: 5px;
}

.comment {
    /*margin-top: 10px;*/
    /*margin-bottom: 10px;
    合并，两个时：上下，左右 ，四个时：上左下右*/
    margin: 10px 0;
}
.comments {
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
    padding-bottom: 5px;
}
.sub-comments {
    margin-top: 10px;
    border: 1px solid #eee;
    padding-top: 15px;
    border-radius: 25px;
    margin-bottom: 15px;
}
.sub-comments .btn {
    margin: 10px 0;
}
.btn-comment {
    float: right;
    margin-bottom: 15px;
    padding-bottom: 5px;
}
.menu {
    color: #999;
    margin-top: 5px;
}
.menu .icon {
    margin-right: 10px;
    font-size: 15px;
    cursor: pointer;
}

.menu .comment-icon {
    font-size: 15px;
    cursor: pointer;
}
.menu .comment-icon:hover {
    color: #499ef3;
}
.menu .active {
    color: #499ef3;
}
.menu .icon:hover {
    color: #499ef3;
}
